.trendy-arrivals {
  width: 1380px;
  height: 1325px;
  box-shadow: -1px 5px 48px 3px rgba(237, 235, 253, 0.75);
  background-color: #ffffff;
  padding-top: 96px;
  margin: 0 auto;
  transform: translateY(-50px);
  &__title {
    margin-bottom: 100px !important;
  }
}