.newsletter {
  &__btn {
    width: 198px;
    height: 60px;
    background-color: #a165f4;
    background-image: linear-gradient(28deg, #8c84f9 0%, #9c6cf5 100%);
    color: #fffefe;
    letter-spacing: 0.2px;
  }
}