.title {
  color: #333333;
  font-family: 'Open Sans', sans-serif;
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-align: center;
  margin: 0;
}

.title_left {
  text-align: left;
}