.title {
    color: #333333;
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0.5px;
    text-align: center;
    /* Style for "Newsletter" */
}

.title_white {
    color: #ffffff;
}

.title_little {
    /* Style for "Big Shop" */
    color: #222222;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 500;
    line-height: 120px;
}

.title_left {
    text-align: left;
}