.banner {
  height: 1052px;
  width: 1604px;
  position: relative;
  margin: 0 auto;
  &__img {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  &__container {
    z-index: 1;
    position: relative;
    font-family: 'Roboto', sans-serif;
    height: 100%;
  }

  &__row {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
  }

  &__title {
    color: #090000;
    margin: 0 0 50px 0;
    font-size: 115px;
    font-weight: 700;
    line-height: 120px;
    word-wrap: break-word;
    span {
      color: #ffffff;
    }
  }

  &__discount {
    font-size: 50px;
    font-weight: 500;
    text-transform: uppercase;
    color: #fbf934;
    display: block;
    margin-bottom: 98px;
    span {
      color: #fcfcfc;
    }
  }

  &__btn {
    width: 202px;
    height: 60px;
    box-shadow: -1px 5px 24px 1px rgba(189, 227, 239, 0.75);
    background-color: #fcfcfc;
    color: #151515;
    font-weight: 600;
    &-icon {
      color: #7048e2;
      font-size: 18px;
      margin-left: 10px;
    }
  }
}
